@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'typewritter';
    src: url('static/fonts/typewritter.eot');
}

/* base */
* {
    font-family: 'Oxygen', Calibri;
}

body {
    /* Materialize class for making footer sticky */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .marker-font {
      font-family: 'Permanent Marker', 'Oxygen', Calibri;
      font-size: 2.1rem;
  }

  .oxygen-font {
      font-family: 'Oxygen', Calibri;
  }

  .typewritter-font {
      font-family: 'typewritter', 'Oxygen', 'Calibri';
  }

  .color-orange {
      color: #ff7043 !important;
  }

  .color-light-green {
      color: #00e676;
  }

  .color-green {
      color: #66bb6a
  }

  .flashes h4 {
      line-height: 2;
  }

  ul#horizontal-list li {
		display: inline;
	}

.margin-above {
    margin-top: 2rem;
}

.larger-icons {
    font-size: 2.5rem;
    margin-right: 2rem;
}

.medium-icons {
    font-size: 3rem;
}

/* Home page and card formatting */
.card-formatting {
    min-height: 1000px !important;
}

.borders {
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
}

.card-xl {
    max-height: 600px;
}