@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen:wght@700&family=Permanent+Marker&display=swap');

@font-face {
    font-family: 'typewritter';
    src: url('/static/fonts/typewritter.woff') format("woff");
}

html {
    scroll-behavior: smooth;
}

/* base */
* {
    font-family: 'Oxygen', Calibri;
}

body {
    /* Materialize class for pushing footer to the bottom of the page */
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
    /* end of Materialize class */

/* custom fonts */
  .marker-font {
      font-family: 'Permanent Marker', 'Oxygen', Calibri;
      font-size: 2.1rem;
  }

  .oxygen-font {
      font-family: 'Oxygen', Calibri;
  }

  .typewritter-font {
      font-family: 'typewritter', 'Oxygen', 'Calibri' !important;
  }

  .text-justify {
      text-align: justify;
  }

  .shadow-text {
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
  }

/* general fomatting */
  .flashes h4 {
      line-height: 2;
  }

  ul#horizontal-list li {
		display: inline;
	}

.padding-around {
    margin: 1rem !important;
}

.margin-above {
    margin-top: 2rem;
}

.margin-below {
    margin-bottom: 1rem;
}

.larger-icons {
    font-size: 2.5rem;
    margin-right: 2rem;
}

.medium-icons {
    font-size: 3rem;
}

/* Home page and card formatting */
.borders {
    border-bottom: 1px solid #424242;
    border-top: 1px solid #424242;
}

.card-xl {
    max-height: 600px;
}

.static-height {
    height: 250px;
}

/* Adding new experience */
.border-around {
    border: 1px solid #424242;
    min-height: 300px !important;
}

.button-margin {
    margin-right: 3rem;
}

/* Error backgrounds */
.background404 {
    background-image: url("https://res.cloudinary.com/drtxn8d5t/image/upload/v1598551538/lost_mcoemk.jpg");
    background-size: cover;
}

/* Height for error container */
.error-height {
    height: 30rem;
}