<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	{% block styles %}
    {% endblock %}
	<title>Travel Experiences</title>
</head>

<body>

    <header id="top-of-page" class="scrollspy">
        <!-- Top navbar -->
		<div class="navbar-fixed">
			<nav class="nav-extended grey darken-3">
                <a href="{{ url_for('experiences_home') }}" class="color-orange left-align marker-font">TRAVEL EXPERIENCES</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right color-orange"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="color-orange oxygen-font">About</a></li>
                    <li><a href="{{ url_for('experiences_home') }}" class="color-orange oxygen-font">Home</a></li>
                    <li><a href="#" class="color-orange oxygen-font">Search</a></li>
                    <li><a href="#" class="color-orange oxygen-font">My Page</a></li>
                    <li><a href="#" class="color-orange oxygen-font">Add New Experience</a></li>
                    <li><a href="#" class="color-orange oxygen-font">Logout</a></li>
                    <li><a href="#" class="color-orange oxygen-font">Login</a></li>
                    <li><a href="{{ url_for('register') }}" class="color-orange oxygen-font">Register</a></li>
                </ul>
			</nav>
		</div>

        <!-- Banner image -->
        <section>
			<div class="slider">
				<ul class="slides">
					<li>
						<a href="{{ url_for('experiences_home') }}"><img src="https://lorempixel.com/580/250/nature/1"></a> <!-- random image -->
						<div class="caption right-align">
							<h3>Need inspiration?</h3>
						</div>
					</li>
					<li>
						<a href="#"><img src="https://lorempixel.com/580/250/nature/2"></a> <!-- random image -->
						<div class="caption right-align">
							<h3>Want to contribute?</h3>
						</div>
					</li>
					<li>
						<a href="#"><img src="https://lorempixel.com/580/250/nature/3"></a> <!-- random image -->
						<div class="caption right-align">
							<h3>Need Travel arrangements?</h3>
						</div>
					</li>
				</ul>
			</div>
        </section>

        <!-- Mobile sidenav -->		
		<ul class="sidenav grey darken-3" id="mobile-demo">
            <li><h4 class="center-align color-orange oxygen-font">Travel Experiences</h4></li>
			<li><a href="#" class="color-orange oxygen-font">About</a></li>
			<li><a href="{{ url_for('experiences_home') }}" class="color-orange oxygen-font">Home</a></li>
			<li><a href="#" class="color-orange oxygen-font">Search</a></li>
			<li><a href="#" class="color-orange oxygen-font">My Page</a></li>
			<li><a href="#" class="color-orange oxygen-font">Add New Experience</a></li>
			<li><a href="#" class="color-orange oxygen-font">Logout</a></li>
			<li><a href="#" class="color-orange oxygen-font">Login</a></li>
			<li><a href="{{ url_for('register') }}" class="color-orange oxygen-font">Register</a></li>
		</ul>
    </header>

    <section>
		<!-- Flash messages container -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="row flashes ">
			<h4 class="center-align color-orange oxygen-font">
				{{ message }}
			</h4>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	</section>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

	<footer class="page-footer grey darken-3 margin-above">
		<div class="container">
                <h2 class="white-text marker-font color-orange center-align">Travel Experiences</h2>
                <p class="color-orange center-align">Check out our groups in social media:</p>
                <ul id="horizontal-list" class="center-align">
                    <li><a class="color-orange larger-icons" href="{{ url_for('experiences_home') }}"><i class="fas fa-home"></i></a></li>
                    <li><a class="color-orange larger-icons" href="#"><i class="far fa-envelope"></i></a></li> <!-- mail -->
                    <li><a class="color-orange larger-icons" href="https://youtube.com" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                    <li><a class="color-orange larger-icons" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="color-orange larger-icons" href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a class="color-orange larger-icons" href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></i></a></li>
                </ul>
		</div>
		<div class="footer-copyright">
			<div class="container color-orange">
				© 2020 Copyright Text
				<a class="right color-orange scrollspy medium-icons" href="#top-of-page">Back to top  <i class="fa fa-chevron-circle-up larger-icons" aria-hidden="true"></i></a>
			</div>
		</div>
	</footer>

<!--	<footer class="page-footer grey darken-3 navbar-fixed hide-on-small-only">
		<div class="row">
			<ul class="left hide-on-med-and-down">
				<li><a href="#" class="color-orange oxygen-font">About</a></li>
				<li><a href="{{ url_for('experiences_home') }}" class="color-orange oxygen-font">Home</a></li>
				<li><a href="#" class="color-orange oxygen-font">Search</a></li>
			</ul>
			<ul class="right">
				<li class="color-orange oxygen-font">Back to top</li>
			</ul>
		</div>
	</footer> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>