<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	{% block styles %}
    {% endblock %}
	<title>Travel Experiences</title>
</head>

<body>

    <header id="top-of-page" class="scrollspy">
        <!-- Top navbar -->
		<div class="navbar-fixed">
			<nav class="nav-extended grey darken-3">
                <a href="{{ url_for('experiences_home') }}" class="deep-orange-text text-lighten-1 left-align marker-font">TRAVEL EXPERIENCES</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right deep-orange-text text-lighten-1"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#" class="deep-orange-text text-lighten-1 oxygen-font">About</a></li>
                    <li><a href="{{ url_for('experiences_home') }}" class="deep-orange-text text-lighten-1 oxygen-font">Home</a></li>
                    <li><a href="#" class="deep-orange-text text-lighten-1 oxygen-font">Search</a></li>
                    {% if session.user %}
                        <li><a href="{{ url_for('profile', username=session['user']) }}" class="deep-orange-text text-lighten-1 oxygen-font">My Page</a></li>
                        <li><a href="{{ url_for('add_experience') }}" class="deep-orange-text text-lighten-1 oxygen-font">Add New Experience</a></li>
                        <li><a href="{{ url_for('logout') }}" class="deep-orange-text text-lighten-1 oxygen-font">Logout</a></li>
                    {% else %}
                        <li><a href="{{ url_for('login') }}" data-target="modal1" class="deep-orange-text text-lighten-1 oxygen-font modal-trigger">Login</a></li>
                        <li><a href="{{ url_for('register') }}" class="deep-orange-text text-lighten-1 oxygen-font">Register</a></li>
                    {% endif %}
                </ul>
			</nav>
		</div>

        <!-- Banner image -->
        <section>
			<div class="slider">
				<ul class="slides">
					<li>
						<a href="{{ url_for('experiences_home') }}"><img src="../static/images/glacier.jpg"></a> <!-- random image -->
						<div class="caption right-align">
							<h3>Need inspiration?</h3>
						</div>
					</li>
					<li>
                        {% if session.user %}
                        <a href="{{ url_for('add_experience') }}"><img src="../static/images/oslo.jpg"></a>
                        {% else %}
						<a href="{{ url_for('register') }}"><img src="../static/images/oslo.jpg"></a> <!-- random image -->
                        {% endif %}
                        <div class="caption right-align">
							<h3>Want to contribute?</h3>
						</div>
					</li>
					<li>
						<a href="#"><img src="../static/images/alps.jpg"></a> <!-- random image -->
						<div class="caption right-align">
							<h3>Need Travel arrangements?</h3>
						</div>
					</li>
				</ul>
			</div>
        </section>

        <!-- Mobile sidenav -->		
		<ul class="sidenav grey darken-3" id="mobile-demo">
            <li><h4 class="center-align deep-orange-text text-lighten-1 marker-font">Travel Experiences</h4></li>
			<li><a href="#" class="deep-orange-text text-lighten-1 oxygen-font">About</a></li>
			<li><a href="{{ url_for('experiences_home') }}" class="deep-orange-text text-lighten-1 oxygen-font">Home</a></li>
			<li><a href="#" class="deep-orange-text text-lighten-1 oxygen-font">Search</a></li>
            {% if session.user %}
                <li><a href="{{ url_for('profile', username=session['user']) }}" class="deep-orange-text text-lighten-1 oxygen-font">My Page</a></li>
                <li><a href="{{ url_for('add_experience') }}" class="deep-orange-text text-lighten-1 oxygen-font">Add New Experience</a></li>
                <li><a href="{{ url_for('logout') }}" class="deep-orange-text text-lighten-1 oxygen-font">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}" data-target="modal1" class="deep-orange-text text-lighten-1 oxygen-font modal-trigger">Login</a></li>
                <li><a href="{{ url_for('register') }}" class="deep-orange-text text-lighten-1 oxygen-font">Register</a></li>
            {% endif %}
		</ul>
    </header>

    <!-- Flash messages container -->
    <section>
		{% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="row flashes ">
                    <h4 class="center-align deep-orange-text text-lighten-1 oxygen-font">
                        {{ message }}
                    </h4>
                </div>
                {% endfor %}
            {% endif %}
		{% endwith %}
	</section>

    <main>
        {% block content %}
        {% endblock %}
    </main>
<!--
     ** Modal for loging in ** 
	<div id="modal1" class="modal">
		<div class="modal-content">
			<h4 class="center-align marker-font">Log in</h4>
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login')}}">
                <div class="card-panel">
            ** User name **
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix deep-orange-text text-lighten-1"></i>
                            <input id="username" name="username" type="text" minlength="4" maxlength="18" patern="^[a-zA-Z0-9]{4,18}$" class="validate" required>
                            <label for="username">User name</label>
                        </div>
                    </div>
            ** Password **
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix deep-orange-text text-lighten-1"></i>
                            <input id="password" name="password" type="password" minlength="4" maxlength="18" patern="^[a-zA-Z0-9]{4,18}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>

            ** Log in button **
                    <div type="submit" class="btn-large green accent-4 modal-close oxygen-font"><a href="{{ url_for('login') }}">
                        Log in <i class="fas fa-sign-in-alt"></i></a>
                    </div>
                    <div type="submit" class="btn-large red accent-4 modal-close oxygen-font">
                                Cancel <i class="far fa-times-circle"></i>
                    </div>  
                </div>
            </form>
		</div>
		<div class="modal-footer">
            <p class="center-align">Not a member? <a href="{{ url_for('register') }}" class="modal-close deep-orange-text text-lighten-1 oxygen-font">Register here.</a></p>
		</div>
	</div>

-->

    <!-- Floating action button -->
	<div class="fixed-action-btn">
		<a class="btn-floating btn-large green accent-4">
			<i class="fas fa-user-alt"></i>
		</a>
        <p class="center-align green-text text-accent-4">{{session["user"]}}</p>
		<ul class="margin-above">
			{% if session.user %}
                <li><a href="{{ url_for('add_experience') }}" class="btn-floating tooltipped blue" data-position="left" data-tooltip="Add New Experience"><i class="fas fa-plus"></i></a></li>
                <li class="oxygen-font"><a href="{{ url_for('profile', username=session['user']) }}" class="btn-floating tooltipped blue" data-position="left" data-tooltip="Your Profile"><i class="far fa-address-card"></i></a></li>
                <li class="oxygen-font"><a href="{{ url_for('logout') }}" class="btn-floating tooltipped red" data-position="left" data-tooltip="Logout"><i class="fas fa-sign-out-alt"></i></a></li>
            {% else %}
                <li class="oxygen-font"><a href="{{ url_for('register') }}" class="btn-floating tooltipped deep-orange-text text-lighten-1" data-position="left" data-tooltip="Register"><i class="fas fa-user-plus"></i></a></li>
                <!--<li class="oxygen-font"><a data-target="{{ url_for('login') }}" class="btn-floating deep-orange-text text-lighten-1 modal-trigger"><i class="fas fa-sign-in-alt"></i></a>Login</li> -->
                <li class="oxygen-font"><a href="{{ url_for('login') }}" class="btn-floating tooltipped deep-orange-text text-lighten-1" data-position="left" data-tooltip="Login"><i class="fas fa-sign-in-alt"></i></a></li>
            {% endif %}
		</ul>
	</div>

    <!-- Footer -->
	<footer class="page-footer grey darken-3 margin-above">
		<div class="container">
                <h2 class="white-text marker-font deep-orange-text text-lighten-1 center-align">Travel Experiences</h2>
                <p class="deep-orange-text text-lighten-1 center-align">Check out our social media:</p>
                <ul id="horizontal-list" class="center-align">
                    <li><a class="deep-orange-text text-lighten-1 larger-icons" href="{{ url_for('experiences_home') }}"><i class="fas fa-home"></i></a></li>
                    <li><a class="deep-orange-text text-lighten-1 larger-icons" href="#"><i class="far fa-envelope"></i></a></li> <!-- mail -->
                    <li><a class="deep-orange-text text-lighten-1 larger-icons" href="https://youtube.com" target="_blank"><i class="fab fa-youtube-square"></i></a></li>
                    <li><a class="deep-orange-text text-lighten-1 larger-icons" href="https://www.facebook.com" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a class="deep-orange-text text-lighten-1 larger-icons" href="https://twitter.com" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a class="deep-orange-text text-lighten-1 larger-icons" href="https://instagram.com" target="_blank"><i class="fab fa-instagram-square"></i></a></li>
                </ul>
		</div>
		<div class="footer-copyright">
			<div class="container deep-orange-text text-lighten-1">
				© 2020 Copyright Text
				<a class="right deep-orange-text text-lighten-1 scrollspy medium-icons" href="#top-of-page">Back to top  <i class="fa fa-chevron-circle-up larger-icons" aria-hidden="true"></i></a>
			</div>
		</div>
	</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}

</body>

</html>