{% extends "base.html" %}
{% block content %}

    <h3 class="deep-orange-text text-lighten-1 marker-font center-align">
        {% block pagetitle %}
        {% endblock %}
    </h3>

    {% block formup %}
    {% endblock %}
        <!-- Title -->
        <section class="container">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <h3 class="deep-orange-text text-lighten-1 marker-font center-align">
                        {% block title %}
                        {% endblock %}
                    </h3>
                </div>
            </div>
        </section>

        <!-- Upper container -->
        <section class="container">
            <div class="row margin-above">
                <!-- Image container -->
                <div class="col s12 m4 centert-align valign-wrapper">
                    {% block image %}
                    {% endblock %}
                </div>

                <!-- Fields for Country, City, recommendation, duration and tips -->
                <div class="col s12 m8">
                    {% block short_info %}
                    {% endblock %}
                </div>
            </div>

            <!-- Description field -->
            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                        <span class="marker-font">Description</span>
                    {% block description %}
                    {% endblock %}
                    </div>
                </div>
            </div>

            <!-- Travel arrangements -->
            <div class="row">
                <div class="col s12">
                    <div class="card-panel">
                    <span class="marker-font">Travel arrangements</span>
                        {% block travel_arrangements %}
                        {% endblock %}
                    </div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="row">
                <div class="center-align">
                    {% block buttons %}
                    {% endblock %}
                </div>
            </div>

        </section>
    {% block formdown %}
    {% endblock %}
 
{% endblock %}