{% extends "base.html" %}
{% block content %}

    {% for experience in experiences %}

        <h3 class="deep-orange-text text-lighten-1 marker-font center-align">{{ experience.title }}</h3>

        <section class="container">
            <div class="row margin-above">
                <div class="col s12 m4">
                    <img src="static/images/sample-1.jpg" alt="Experience image" class="responsive-img materialboxed">
                </div>

                <div class="col s12 m8">
                    <p>User: Name of the user</p><span><a href="#">See more of this user</a></span>
                    <p>Location: City in Country</p>
                    <p>Recommendation: 3</p>
                    <p>Length: 5 days</p>
                    <p>Tips: Tips for the experience</p>
                </div>
            </div>

            <div class="row">
                <span class="marker-font">Description</span>
                <p class="typewritter-font text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>

            <div class="row">
                <span class="marker-font">Travel arrangements</span>
                <p class="typewritter-font text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </section>
    
    {% endfor %}

{% endblock %}