{% extends "base.html" %}
{% block content %}
    <section class="container">
        <div class="row">
            <div class="col s12 m6 offset-m3">
                <h3 class="deep-orange-text text-lighten-1 marker-font center-align">
                    {% block title %}
                    {% endblock %}
                </h3>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row margin-above">
            <div class="col s12 m4">
                {% block image %}
                {% endblock %}
            </div>

            <div class="col s12 m8">
                {% block short_info %}
                {% endblock %}
            </div>
        </div>

        <div class="row">
            {% block description %}
            {% endblock %}
        </div>

        <div class="row">
            {% block travel_arrangements %}
            {% endblock %}
        </div>

        <div class="row">
            <div class="center-align">
                {% block buttons %}
                {% endblock %}
            </div>
        </div>

    </section>
 
{% endblock %}