{% extends "datamod.html" %}

    {% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/countrySelect.css') }}" type="text/css">
    {% endblock %}

    {% block pagetitle %}
        Edit details
    {% endblock %}

    {% block formup %}
        <form class="col s12" method="POST" action="{{ url_for('editxp', experience=experience, experience_id=experience._id) }}">
    {% endblock %}

        {% block title %}
            <div class="input-field">
                <label for="title">Title</label>
                <input id="title" name="title" value="{{ experience.title }}" minlength="4" maxlength="40" type="text" class="validate marker-font center-align" required>
            </div>
        {% endblock %}

        {% block image %}
                <div class="card small col s12 valign-wrapper">
                    <div class="card-content center-align">
                        <label for="image" class="hide"></label> <!-- required label : but hidden -->
                        {% if imagelink %}
                        <!-- input field to store imagelink -->
                        <input id="imagelink" name="imagelink" value="{{ imagelink }}" type="text" class="hide">
                        <!-- input field to store public id -->
                        <input id="public-id" name="public-id" value="{{ public_id }}" type="text" class ="hide">
                        {% else %}
                        <input id="imagelink" name="imagelink" type="text" class="hide"> <!-- input field "without" value : hidden -->
                        <img src="{{ experience.imagelink }}" id="imageSrc" alt="Base image" class="responsive-img">
                        {% endif %}
                    </div>
                    <div class="card-action deep-orange lighten-1 center-align">
                        <a href="{{ url_for('imgedit', experience_id=experience._id) }}" class="white-text">Edit image</a>
                    </div>
                </div>
        {% endblock %}

        {% block short_info %}
            <!-- City -->
            <label for="city">Enter the City:</label>
            <input id="city" name="city" value="{{ experience.location }}" minlength="1" maxlength="30" type="text" class="validate typewritter-font" required>

            <!-- Country name select-->
            <!-- code from mrmarkfrench - see credits in readme  -->
            <label for="country_name" style="display:none;">Select a country here...</label>
            <input id="country_name" name="country_name" class="validate" type="text" value="{{ experience.country_name }}" required>

            <!-- Duration -->
            <label for="duration">Duration in days</label>
            <input id="duration" name="duration" value="{{ experience.duration }}" minlength="1" maxlength="4" type="text" class="validate typewritter-font">

            <!-- Recommendation -->
            <div class="input-field deep-orange-text text-lighten-1">
                <select id="recommendation" name="recommendation" class="validate">
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Amazing experience!">Amazing experience!</option>
                    <option value="If time alows it">If time alows it</option>
                    <option value="Don't go there!">Don't go there!</option>
                </select>
                <label>Recommendation</label>
            </div>

            <!-- Tips -->
            <label for="tips">Tips</label>
            <input id="tips" name="tips" value="{{ experience.tips }}" minlength="3" type="text" class="validate typewritter-font">
        {% endblock %}

        {% block description %}
            <!-- Description -->
            <textarea id="description" name="description" minlength="15" class="materialize-textarea typewritter-font" placeholder="Describe your experience here" required>
                {{- experience.description -}}
            </textarea>
        {% endblock %}

        {% block travel_arrangements %}
            <!-- Travel arrangements -->
            <input id="traveling" name="traveling" value="{{ experience.travel_arrangements }}" minlength="3" maxlength="200" type="text" class="validate typewritter-font" required>
        {% endblock %}

        {% block buttons %}
            <!-- Buttons for submit and cancel -->
            <button  type="submit" class="btn-large green accent-3 button-margin">Update</button>
            <button class="btn-large red"><a href="{{ url_for('profile', username=session['user']) }}" class="white-text">Cancel</a></button>
        {% endblock %}

    {% block formdown %}
        </form>
    {% endblock %}

    {% block scripts %}
        <!-- Script for country selector - see credits in readme.md  -->
        <script src="{{ url_for('static', filename='js/countrySelect.js') }}"></script>
    {% endblock %}