{% extends "base.html" %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col s12">
            <div class="card background404">
				<div class="card-content error-height shadow-text valign-wrapper">
                    <div class="row">
                        <div class="card-title col s12 blue-grey lighten-5 transparent">Ooops - it's a 
                        <!-- Type of error inject -->
                        {% block error %}
                        {% endblock %}
                        </div>
                        <div class="col s12 blue-grey lighten-5 transparent">Whatever it is, it's a bad experience</div>
                        
                        
                    </div>
				</div>
                <div class="card-action deep-orange lighten-1 white-text shadow-text ">
                    <p>For now, you better go <a href="{{ url_for('experiences_home') }} " aria-label="Experiences home page">home.</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}