{% extends "base.html" %}
{% block content %}

<!-- title, search bar and sort tools -->
<h1 class="center-align marker-font color-orange">Welcome to TRAVEL EXPERIENCES!</h1>

    <div class="container">
        <div class="row">
            <!--<button class="btn-large red">Green</button>-->
            <button class="col align-right btn-large green">New experience</button>
        </div>
    </div>

<!-- Experiences slider -->
<section class="borders">
    <div class="container">
        <div class="row">

        {% for experience in experiences %}
        <!-- Cards slider -->
            <div class="col s12 m6 l4 xl3">
                <div class="card card-xl">
                    <!-- Card image -->
                    <div class="card-image">
                            <a href="static/images/sample-1.jpg">
                                <img src="static/images/sample-1.jpg" alt="{{ experience.title }} image">
                            </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-content">
                        <p class="left-align color-orange typewritter-font">{{ experience.title }}</p>
                        <ul>
                            <li><strong>Location: </strong><span class="typewritter-font">{{ experience.location }}, {{ experience.country_name }}</span></li>
                            <li><strong>Recommendation: </strong><span class="typewritter-font">{{ experience.recommendation }}</span></li>
                            <li><strong>Duration: </strong><span class="typewritter-font">{{ experience.duration }}</span></li>
                            <li><strong>Tips: </strong><span class="typewritter-font">{{ experience.tips }}</span></li>
                            <li class="truncate"><strong>Travel arrangements: </strong><span class="typewritter-font">{{ experience.travel_arrangements }}</span></li>
                            <li class="truncate"><strong>Description: </strong><span class="typewritter-font">{{ experience.description }}</span></li>
                        </ul>
                    </div>
                    <!-- Link to read more -->
                    <div class="card-action center-align">
                        <a href="#">Read more...</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>




{% endblock %}