{% extends "base.html" %}
{% block content %}

<!-- title, search bar and sort tools -->
<h1 class="center-align marker-font deep-orange-text text-lighten-1">Welcome to TRAVEL EXPERIENCES!</h1>
    <div class="container">
        <div class="row">
            
            <!-- search box -->
                <form action="{{ url_for('search')}}" method="POST" class="col s8 offset-s2">
                    <div class="row valign-wrapper center-align">
                        <div class="col s12 m8 offset-m1 input-field">
                            <i class="fas fa-search prefix deep-orange-text text-lighten-1"></i>
                            <input type="text" name="query" id="query" minlength="3" class="validate" required>
                            <label for="query">Search</label>
                        </div>
                        <div class="col s12 m4">
                            <button type="submit" class="btn green white-text">
                                Search
                            </button>
                            <a href="{{ url_for('experiences_home') }}" class="red btn">Reset</a>
                        </div>
                    </div>
                </form>
                <!--<i class="fas fa-search"></i><input id="search" placeholder="Search">
                <div class="search-results"></div>-->
        </div>

        <div class="row valign-wrapper">
            <!-- Sort box -->
            <span class="col s12">
                <select class="browser-default align-left">
                    <option value="" disabled selected>Sort by</option>
                    <option value="1">Country</option>
                    <option value="2">User</option>
                    <option value="3">Recommendation</option>
                </select>
            </span>

            {% if session.user %}
            <span class="col s6">
                <a href="{{ url_for('addxp', username=session['user']) }}">
                    <button class="btn btn-large green white-text">New</button>
                </a>
            </span>
            {% endif %}
        </div>
    </div>
    
<!-- Experiences slider -->
<section class="borders">
    <div class="container">

        {% if experiences %}
        <div class="row margin-above">

            {% for experience in experiences %}
            <!-- Cards slider -->
                <div class="col s12 m6 xl4">
                    <div class="card card-xl">
                        <!-- Card image -->
                        <div class="card-image">
                                <a href="#">
                                    <img src="{{ experience.imagelink }}" alt="{{ experience.title }} image">
                                </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-content">
                            <p class="left-align deep-orange-text text-lighten-1 typewritter-font">{{ experience.title }}</p>
                            <ul>
                                <li class="truncate"><strong>Location: </strong><span class="typewritter-font">{{ experience.location }}, {{ experience.country_name }}</span></li>
                                <li><strong>Recommendation: </strong><span class="typewritter-font">{{ experience.recommendation }}</span></li>
                                <li><strong>Created by: </strong>{{ experience.created_by }}</li>
                                <li><strong>Duration: </strong><span class="typewritter-font">{{ experience.duration }}</span></li>
                                <li class="truncate"><strong>Tips: </strong><span class="typewritter-font">{{ experience.tips }}</span></li>
                                <li class="truncate"><strong>Travel arrangements: </strong><span class="typewritter-font">{{ experience.travel_arrangements }}</span></li>
                                <li class="truncate"><strong>Description: </strong><span class="typewritter-font">{{ experience.description }}</span></li>
                            </ul>
                        </div>
                        <!-- Link to read more -->
                        <div class="card-action center-align">
                            <a href="{{ url_for('moreinfo', experience_id=experience._id) }}">Read more...</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination for container 
            <div class="row">
                <ul class="pagination center-align">
                    <li class="disabled"><a href="#!"><i class="fas fa-chevron-left"></i></a></li>
                    <li class="active"><a href="#!">1</a></li>
                    <li class="waves-effect"><a href="#!">2</a></li>
                    <li class="waves-effect"><a href="#!">3</a></li>
                    <li class="waves-effect"><a href="#!">4</a></li>
                    <li class="waves-effect"><a href="#!">5</a></li>
                    <li class="waves-effect"><a href="#!"><i class="fas fa-chevron-right"></i></a></li>
                </ul>
            </div> -->
        </div>

        {% else %}
            <h3 class="center-align deep-orange-text text-lighten-1 oxygen-font">
                No Results Found
            </h3>
        {% endif %}

    </div>
</section>




{% endblock %}