{% extends "base.html" %}
{% block content %}

    <h3 class="deep-orange-text text-lighten-1 marker-font center-align">
        Upload an image
    </h3>

	<div class="row">
        <form action="" method="POST" enctype="multipart/form-data">
            <div class="col s12 m6 offset-m3">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ imagelink }}">
                    </div>
                    <div class="card-action">
                        <p><input id="image" name="image" type="file" accept="image/png, image/jpeg"></p>
                        <p><input type="submit" value="Upload"></p>
                        <!--<div class="btn deep-orange lighten-1">
                            <input id="image" name="image" type="submit">
                            <span>Browse</span>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="validate" type="file" accept="image/png, image/jpeg">
                        </div>-->
                    </div>
                </div>
            </div>
        </form>
	</div>

<!--
    <div class="row margin-above">
        <form>
            <div class="col s12 m6 offset-m3">
                <img src="static/images/sample-1.jpg" id="img-preview" alt="Base image" class="responsive-img">
            </div>
            <div class="col s12 m4 offset-s4 deep-orange lighten-1">
                <span class="card-title white-text">Add image</span>
                <input id="image" name="image" type="file" accept="image/png, image/jpeg" class="validate" placeholder="Add image">
            </div>
        </form>
    </div>
-->
{% endblock %}