{% extends "datamod.html" %}
    
    {% block title %}
        {{ experience.title }}
    {% endblock %}

    {% block image %}
        <img src="{{ experience.imagelink }}" alt="Experience image" class="responsive-img materialboxed">
    {% endblock %}

    {% block short_info %}
        <p><strong>User: </strong><span class="typewritter-font">{{ experience.created_by }}</span></p>
        <p><strong>Location: </strong><span class="typewritter-font">{{ experience.location }} in {{ experience.country_name }}</span></p>
        <p><strong>Reccomendation: </strong><span class="typewritter-font">{{ experience.recommendation }}</span></p>
        <p><strong>Duration: </strong><span class="typewritter-font">{{ experience.duration }} day(s)</span></p>
        <p><strong>Tips: </strong><span class="typewritter-font">{{ experience.tips }}</span></p>
    {% endblock %}

    {% block description %}
        <p class="typewritter-font text-justify">
            {{ experience.description }}
        </p>
    {% endblock %}

    {% block travel_arrangements %}
        <p class="typewritter-font text-justify">{{- experience.travel_arrangements -}}</p>
    {% endblock %}

    {% block buttons %}
        <button class="btn-large deep-orange lighten-1"><a href="{{ url_for('experiences_home') }}" class="white-text">Back to home page</a></button>
        {% if session.user %}
        <button class="btn-large green"><a href="{{ url_for('addxp', username=session['user']) }}" class="white-text">Add new experience</a></button>
        {% else %}
        <button class="btn-large green"><a href="{{ url_for('login') }}" class="white-text">Want to contribute?</a></button>
        {% endif %}
    {% endblock %}