{% extends "base.html" %}
{% block content %}

<h1 class="center-align marker-font deep-orange-text text-lighten-1">{{ username }}'s Experiences</h1>

<div class="container">
	<div class="row">
		<a href="{{ url_for('imageupload', username=session['user']) }}" class="white-text">
			<button class="col s2 offset-s10 btn-large green">New experience</button>
		</a>
	</div>
</div>

<section class="borders">
    <div class="container">
        <div class="row margin-above">

        {% for experience in experiences %}
            <!--{% if session.user|lower == experience.created_by|lower %}-->
        <!-- Cards slider -->
            <div class="col s12 m6 xl4">
                <div class="card card-xl">
                    <!-- Card image -->
                    <div class="card-image static-height">
                            <a href="{{ url_for('moreinfo', experience_id=experience._id) }}">
                                <img src="{% if experience.imagelink %}{{ experience.imagelink }}{% else %}../static/images/sample-1.jpg{% endif %}" alt="{{ experience.title }} image" class="static-height">
                            </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-content">
                        <p class="left-align deep-orange-text text-lighten-1 typewritter-font">{{ experience.title }}</p>
                        <ul>
                            <li><strong>Location: </strong><span class="typewritter-font">{{ experience.location }}, {{ experience.country_name }}</span></li>
                            <li><strong>Recommendation: </strong><span class="typewritter-font">{{ experience.recommendation }}</span></li>
                            <li><strong>Duration: </strong><span class="typewritter-font">{{ experience.duration }}</span></li>
                            <li class="truncate"><strong>Tips: </strong><span class="typewritter-font">{{ experience.tips }}</span></li>
                            <li class="truncate"><strong>Travel arrangements: </strong><span class="typewritter-font">{{ experience.travel_arrangements }}</span></li>
                            <li class="truncate"><strong>Description: </strong><span class="typewritter-font">{{ experience.description }}</span></li>
                        </ul>
                    </div>

                    <!-- Update and cancel buttons - issues between 450px and 601px wide screens -->
                    <div class="card-action center-align">
                        <a href="{{ url_for('imgedit', experience_id=experience._id) }}" class="white-text btn green accent-3" type="submit" >Edit</a>
						<a href="{{ url_for('deletexp', experience_id=experience._id) }}" class="btn white-text red">Delete</a>
                    </div>
                </div>
            </div>
            <!--{% endif %}-->
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}