{% extends "base.html" %}
{% block content %}

<div class="row">
	<div class="col s12 m8 offset-m2">
		<div class="card-panel">
        <h3 class="center-align marker-font">
            {{ username }}'s Experiences
        </h3>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<a href="{{ url_for('add_experience') }}" class="white-text">
			<button class="col s2 offset-s10 btn-large green">New experience</button>
		</a>
	</div>
</div>

<section class="borders">
    <div class="container">
        <div class="row">

        {% for experience in experiences %}
        <!-- Cards slider -->
            <div class="col s12 m6 l3">
                <div class="card card-xl">
                    <!-- Card image -->
                    <div class="card-image">
                            <a href="#">
                                <img src="../static/images/sample-1.jpg" alt="{{ experience.title }} image">
                            </a>
                    </div>
                    <!-- Card content -->
                    <div class="card-content">
                        <p class="left-align color-orange typewritter-font">{{ experience.title }}</p>
                        <ul>
                            <li><strong>Location: </strong><span class="typewritter-font">{{ experience.location }}, {{ experience.country_name }}</span></li>
                            <li><strong>Recommendation: </strong><span class="typewritter-font">{{ experience.recommendation }}</span></li>
                            <li><strong>Duration: </strong><span class="typewritter-font">{{ experience.duration }}</span></li>
                            <li class="truncate"><strong>Tips: </strong><span class="typewritter-font">{{ experience.tips }}</span></li>
                            <li class="truncate"><strong>Travel arrangements: </strong><span class="typewritter-font">{{ experience.travel_arrangements }}</span></li>
                            <li class="truncate"><strong>Description: </strong><span class="typewritter-font">{{ experience.description }}</span></li>
                        </ul>
                    </div>
                    <div class="card-action center-align">
                        <a href="#">Read more...</a>
                    </div>
                    
                    <!-- Update and cancel buttons  -->
					<div class="row">
						<div class="center-align margin-below">
							<button  type="submit" class="btn-large green accent-3 button-margin">Edit</button>
							<button class="btn-large red"><a href="{{ url_for('experiences_home') }}" class="white-text">Delete</a></button>
						</div>
					</div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</section>

{% endblock %}